


$theme-colors: (
  "light":      #f8f9fa,
  "dark":       #282424,
  "primary":    #344a9a,
  "secondary":  #D6DFFF,
  "success":    #00a082,
  "info":       #ffe75e,
  "warning":    #e7c3de,
  "danger":     #dc3545,
  "badge":      gray
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 14,
);


@import "../bootstrap-5.3.3/bootstrap/scss/bootstrap.scss";
